/* ==========================================================================
   Ui Library generic styles
   ========================================================================== */

.ui-library {
  .inner {
    padding: 0 20px;
  }

  .mobile {
    @include media(small-down) {
      display: none;
    }
  }

  .left-nav {
    margin-left: 0;

    li {
      padding: 10px 0;
      list-style: none;

      a {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
