// Home Page styles

.homepage {
  background: url('./../../graphics/content/homepage_bg.png') no-repeat left -30px;
  background-size: 98%;
  padding: 0;
  min-height: 555px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__body {
    padding: 20px 0;  
    font-size: 1.06rem;
    color: $white;

    img {
      display: flex;
      margin-left: auto;
    }
  }
}